<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex fxLayoutAlign="center center">
    <mat-card style="background: lightyellow;">
      <mat-card-content>
        <h2> <strong>Want to host your tournament ?</strong></h2>
        <mat-card-actions fxLayoutAlign="center center">
          <button mat-button (click)="openLoginForm()" style="background: tomato; color: floralwhite;">YES</button>
        </mat-card-actions>
      </mat-card-content>  
    </mat-card>
  </div>

  <div fxFlex class="Content">
    <mat-nav-list >
      <div *ngFor="let match of matches">
        <mat-list-item *ngIf="conDition(match.status)"  [routerLink]="['/matchdetail',match.id]">
          <img matListAvatar src={{match.image}} >
          <h1 matLine> {{match.team1 | uppercase}} {{"Vs"}} {{match.team2 | uppercase}} {{","}} {{match.place | uppercase}}</h1>
          <p matLine>{{match.tournament}}</p>
          <br matLine>
          <p matLine style="color: blue;">{{match.status}}</p>
          <hr matLine>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </div>
 
</div>     